.navbar{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.dropdown-menu{
    display: none;
}
.nav-item:hover .dropdown-menu{
    display: block;
}

.collapse a:hover {
    color: blue;
}
/*  */
.container h3{
  font-size: 1.75rem;
  text-transform: uppercase;
  margin-top: 90px;
  font-weight: 600;
  text-align: center;
}
.container h4{
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 50px;
    font-weight: 600;
    text-align: center;
}
.card{
    width: 90%;
    height: 100%;
}
.card img{
    max-width: 95%;
    max-height: 90%;
    margin: auto;
    padding: 10px;
}
/*  */
#container-1{
    margin-top: 90px;
    max-width: 100%;
    background-color: blueviolet;
}
#row-1{
    width: 80%;
    margin: auto;
    padding: 20px;
}
.col img{
    margin-top: 5px;
    max-width: 100%;
    max-height: 100%;
}

.form-1{
    width: 70%;
    margin: auto;
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select{
  width: 100%;
  display: inline-block;
  padding: 9px;
  margin-top: 20px;
}
.submit{
    width: 100%;
    margin-top: 20px;
    padding: 9px;
    background-color: #FFC307;
}
.col h1{
    margin-top: 30px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    padding: 10px;
}
.col h2{
    color: #FFC307;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
    border: 1px solid #FFC307;
    margin: 10px 100px 10px 100px;
}
#row-2{
    margin-top: 50px;
    margin-left: 50px;
}
#row-3{
    margin-left: 50px;
    margin-bottom: 50px;
}
#row-2 .col{
    display: flex;
    border-left: 3px solid white;
    font-size: 70px;
    font-weight: 700;
    color: #FFC307;
}
#row-2 .col .col-1{
    font-size: 22px;
    margin-top: 55px;
    margin-left: 10px;
}
#row-3 .col{
    font-size: 20px;
    font-weight: 700;
    color: white;

}
/*  */
#con-main{
    margin-top: 100px;
    margin-bottom: 50px;
}
.main-li{
    margin: auto;
    width: 80%;
    display: flex;
}
.li-1{
    width: 50%;
    border-right: 3px solid orangered;
    padding-right: 20px;
}
.li-1 p{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.li-1 h5{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #0B249E;
}
.main-li .card{
    border: none;
    margin-left: 30px;
}
.main-li .card p{
    font-size: 21px;
    font-weight: 600;
}
.main-li .card a{
     background-color: green;
}
/*  */
#con-6{
    color: white;
    background-color: blueviolet;
    max-width: 100%;
}
#con-6 #row-1 #col-1{
    margin: auto;
    margin-top: 150px;
}
#con-6 #row-1{
    width: 80%;
}
#c-col-2{
    margin: 50px 0 50px 100px;
}
#c-col-2 img{
    max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
}
#c-col-2 h1{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
}
#c-col-2 .row{
    display: flex;
}
#c-col-2 .row .col-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    margin: auto;
}
#c-col-2 .row .col h3{
    margin-top: 10px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}
#c-col-2 .row .col p{
    font-size: 16px;
}
/*  */
#con-7{
    margin-top: 100px;
    margin-bottom: 100px;
}
#col-1 .card{
    margin: auto;
    border: none;
}
#col-1 .card a{
    background-color: yellow;
    color: black;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 30px 10px 30px;
}
#col-1 .card p{
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-bottom: 50px;
}
#col-1 .card h5{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
/*  */
#con-8 {
    max-width: 100%;
    background-color: blueviolet;
}
#con-8 #row-1{
    width: 75%;
}
#con-8 h1{
    padding-top: 80px;
    text-align: center;
    color: white;
}
#row-1 #col-1{
    height: 130px;
}
#con-8 #row-1 #col-1{
    display: flex;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 20px;
}
#col-1 .icon-1{
    width: 200px;
    height: 100px;
    margin: auto;
}
.icon-1 img{
    max-width: 100%;
    max-height: 100%;
    
}
#col-1 .text-1{
    margin: 10px 0 10px 20px;
}
#col-1 .text-1 h3{
    margin-top: 0;
    text-align: left;
    font-size: 17px;
    font-weight: 700;
    color: white;
}
#col-1 .text-1 p{
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    color: white;
    margin-top: 20px;
}
#con-8 .line{
    margin: auto;
    margin: 30px 700px 30px 700px;
    border-bottom: 2px solid white;
}
.link{
    margin-top: 30px ;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
#con-8 .link a{
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    background-color: green;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}
/* Container 9 */
#con-9{
    background-color: gainsboro;
    max-width: 100%;
}
#con-9 h1{
    text-align: center;
    padding-top: 100px;
}
#con-9 .row{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
    padding-bottom: 100px;
}
#con-9 .card p{
    font-size: 15px;
    text-align: left;
    font-weight: 600;
}
/* Container 10 */
#con-10{
    margin-bottom: 100px;
}
#con-10 h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 700;
}
#con-10 col {
    margin: auto;
}
/*  */
#con-11{
    background-color: #2F319E;
    max-width: 100%;
}
#con-11 #row-11{
    margin: auto;
    width: 80%;
    padding-top: 100px;
    padding-bottom: 50px;
}
#con-11 h4{
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}
#con-11 .tab ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#con-11 .tab ul li{
    margin-top: 20px;
    margin-bottom: 20px;
}
#con-11 .tab ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
#fo-1{
    margin-left: 0;
}